*{
    margin: 0;
    padding: 0;
}
.nav {
  width: 100%;
  height: 90px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;       
  box-sizing: border-box;
  margin: 0;
}


.nav-logo {
  font-size: 42px;
  font-weight: 700;
  margin: 0;
  color: #0d1b3e;
  text-transform: lowercase;
  letter-spacing: 1px;
}


.nav-right {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 30px;    
}

.toll {
  display: flex;
  flex-direction: column;
  text-align: right;
  padding-right: 25px;
  border-right: 2px solid #dcdcdc;
}

.toll-title {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  color: #0d1b3e;
}

.toll-number {
  margin: 3px 0 0 0;
  font-size: 15px;
  font-weight: 500;
  color: #333;
}


.nav-buttons {
  display: flex;
  gap: 15px;
  margin-left: -15px;   
}


.appointment,
.location {
  height: 46px;
  padding: 0 28px;
  border-radius: 25px;
  font-size: 15px;
  font-weight: 600;
  border: 2px solid #0dbcd6;
  cursor: pointer;
  transition: 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}


.appointment {
  background: #0dbcd6;
  color: white;
}


.location {
  background: transparent;
  color: #0d1b3e;
}


.appointment:hover {
  opacity: 0.9;
}

.location:hover {
  background: #0dbcd6;
  color: white;
}
